<form action="/support" method="POST">
    <h3>Support page</h3>
    <div class="input-field">
        <input type="text" name="name" value="">
        <label>Name</label>
    </div>
    <div class="input-field">
        <input type="number" name="number" value="">
        <label>Phone Number</label>
    </div>
    <div class="input-field">
        <input type="text" name="task" value="">
        <label>Discribe your problem</label>
    </div>
    <button type="submit" class="btn">Send</button>
</form>

